@import "educ";
@import "../../../../../../../npm-asset/bootstrap/scss/bootstrap";

$primaryBackground: #b8002c;
$transitionBackground: #db0100;
$secondaryBackground: #e8410c;

@import "../../../../../public/assets/base/resources/css/default";
@import "module";

$light-yellow: $color-light-yellow;
